@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #454545;
  --color-lightgray: #9d9d9d;
  --color-orange: #f6623e;
  --color-linen: #fff8f6;
  --time: .2s;
  --style: ease-in-out;
  --all-transition: all .4s var(--style);
  --background-transition: background var(--time) var(--style);
  --color-transition: color var(--time) var(--style);
  --outline-transition: outline var(--time) var(--style);
  --opacity-transition: opacity var(--time) var(--style);
  --visibility-transition: visibility var(--time) var(--style);
  --border-transition: border var(--time) var(--style);
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
	margin: 0;
	padding: 0;
	list-style: none;
}

.header {
	padding: 20px;
	width: 100%;
	background-color: var(--color-orange);
}

/* login form start */
.login__form-open {
  display: block;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-white);
  transition: var(--color-transition);
}

.form-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, .6);
  padding-top: 50px;
  opacity: 0;
  visibility: hidden;
  transition: var(--opacity-transition), var(--visibility-transition);
}

.form-modal.open {
  opacity: 1;
  visibility: visible;
}

.login__form-wrapper {
  position: relative;
  margin: 0 auto;
  margin-top: 40px;
  padding: 30px;
  padding-top: 40px;
  border-radius: 15px;
  max-width: 390px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

.login__form-top {
  display: flex;
  width: 200%;
}

.login__form-close {
  padding: 10px;
  position: absolute;
  right: 12px;
  top: -13px;
  font-size: 32px;
  font-weight: 500;
  color: var(--color-orange);
  transition: var(--color-transition);
}

.login__form-close:hover {
  color: lightgrey;
}

.login__form-title {
  margin-bottom: 10px;
  width: 50%;
  text-align: center;
  font-weight: 500;
  font-size: 26px;
  line-height: 25px;
  letter-spacing: 0.2em;
  color: var(--color-gray);
  transition: var(--all-transition);
}

.login__form-list {
  display: flex;
  margin: 0 auto;
  width: 220px;
}

.login__form-item:not(:last-child) {
  margin-right: 20px;
}

.login__form-link {
  display: block;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.login__form-img {
  width: 40px;
  height: 40px;
}

.login__form-wrapper .login__form-slide {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 30px 0 10px 0;
  border: 1px solid lightgrey;
  border-radius: 15px;
  height: 50px;
  width: 100%;
  overflow: hidden;
}

.login__form-slide .slide {
  z-index: 1;
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  transition: var(--all-transition);
}

.login__form-slide .slider-tab {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 15px;
  background: var(--color-orange);
  transition: var(--all-transition);
}

input[type="radio"] {
  display: none;
}

#signup:checked~.slider-tab {
  left: 50%;
}

#signup:checked~label.signup {
  color: #fff;
  cursor: default;
  user-select: none;
}

#signup:checked~label.login,
#login:checked~label.signup {
  color: var(--color-orange);
}

#login:checked~label.login {
  cursor: default;
  user-select: none;
}

.login__form-wrapper .login__form-container {
  width: 100%;
  overflow: hidden;
}

.login__form-container .login__form-inner {
  display: flex;
  width: 200%;
}

.login__form-container .login__form-inner form {
  width: 50%;
  transition: var(--all-transition);
}

.login__form-inner form .login__form-field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
}

.login__form-input {
  padding-left: 15px;
  border-radius: 15px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  transition: all 0.3s ease;
}

.login__form-input:focus-visible {
  border-color: var(--color-orange);
  /* box-shadow: inset 0 0 3px #fb6aae; */
}

.login__form-input::placeholder {
  color: var(--color-lightgray);
  transition: all 0.3s ease;
}

.login__form-input:focus::placeholder {
  color: var(--color-orange);
}

.login__form-pass {
  padding-top: 12px;
  color: var(--color-gray);
  transition: var(--color-transition);
}

.login__form-pass:hover {
  color: var(--color-orange);
}

.login__form-signup, .login__form-signup-link {
  margin-bottom: 50px;
  padding-top: 12px;
  text-align: center;
  transition: var(--color-transition);
}

.login__form-signup-link:hover {
  color: var(--color-orange);
}

.login__form-btn {
  height: 50px;
  width: 100%;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

.btn-layer {
  position: absolute;
  left: -100%;
  height: 100%;
  width: 300%;
  border-radius: 15px;
  background: var(--color-orange);
  transition: all 0.4s ease;
}

.login__form-btn-signup {
  margin-bottom: 20px;
}

.login__form-btn-login {
  margin-bottom: 8px;
}

.login__form-btn:hover .btn-layer {
  left: 0;
}

.login__form-btn input[type="submit"] {
  z-index: 1;
  position: relative;
  padding-left: 0;
  border-radius: 15px;
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.login__form-confirm-password {
  margin-bottom: 10px;
}

.login__form-label {
  position: relative;
  padding-left: 26px;
  cursor: pointer;
  color: var(--color-gray);
}

.login__form-checkbox {
  opacity: 0;
  width: 0;
}

.login__form-checkbox+.login__form-checkbox-style {
  position: absolute;
  top: 4px;
  left: 8px;
  text-align: center;
  width: 14px;
  height: 14px;
  border: 2px solid #999;
}

.login__form-checkbox+.login__form-checkbox-style::before {
  content: '\2714';
  position: absolute;
  top: -1px;
  right: 0;
  bottom: 0;
  left: 0;
  color: var(--color-orange);
  font-size: 10px;
  font-weight: 700;
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.login__form-checkbox:checked+.login__form-checkbox-style::before {
  opacity: 1;
}