* {
  box-sizing: border-box;
}

.title {
  text-align: center;
  padding: 0 12px;
}

.list-card {
  margin: 0 auto;
  max-width: 1200px;
}

/**
  все что выше 1200 - большие десктопы
 */
.grid {
  display: flex;
  flex-wrap: wrap;
  margin: -12px 0;
}

.cell {
  width: 25%;
  padding: 12px;
  background: #58A5FF;
}

.card {
  border: 1px solid #9B674E;
  border-radius: 5px;
  overflow: hidden;
  background: #ffffff;
}

.card__preview-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__title {
  margin-left: 24px;
  margin-right: 24px;
}

.card__description {
  height: 3.45rem;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 24px;
  margin-right: 24px;
}

.card__button-show {
  color: #FFFFFF;
  background: #58A5FF;
  border: none;
  padding: 4px 8px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 24px;
}


/* между 992 и 1200 - маленькие десктопы, либо большие планшеты */
@media (min-width: 992px) and (max-width: 1200px) {
	.cell {
	width: 33.33333%;
	}
}

/*
  между 768 и 992 - планшеты
  между 576 и 768 - большие телефоны, либо телефоны в повернутом виде
 */
@media (min-width: 576px) and (max-width: 992px) {
	.cell {
		width: 50%;
	}
}

/* 576 и ниже - телефоны. Одни из распространенных сейчас размеров устройств - 375 (Iphone X) и 360 (большинство android-устройств). Правда, все больше и больше возрастает тенденция к увеличению телефонов, так что эти распространенные размеры могут и поменяться */
@media (max-width: 576px) {
	.cell {
		width: 100%;
	}
}
